<% provide(:title, 'Добро пожаловать') %>
<div class="center hero-unit">
  <h1>Добро пожаловать в систему электронного документооборота!</h1>

  <h2>Чтобы начать работу, нажмите кнопку "Войти в систему"</h2>

  <%= link_to "Войти в систему!", home_path, class: "btn btn-large btn-primary" %>
</div>
