<% if @subdivision.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      The form contains <%= pluralize(@subdivision.errors.count, "error") %>.
    </div>
    <ul>
    <% @subdivision.errors.full_messages.each do |msg| %>
      <li>* <%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>