@import "bootstrap";

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  background-color: #F5F5F5;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.navbar {
	background-color: #57a957;
	border-color: #000;
}

.nav.navbar-nav.navbar-right li a {
    color: #fff;
    font-size:1.3em;
}
.nav.navbar-nav.navbar-right ul.dropdown-menu a {
    color: #000;
    font-size:1.3em;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.3em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 12px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

input {
  width:360px;
  height: auto !important;
}

/*table_menu*/

table {
  border-spacing: 7px 11px; /* Расстояние между ячейками */ 
}
td {
    padding: 7px; /* Поля вокруг текста */  
    text-align: center;
   }

/*tree*/

.nav-list{
  padding-right:15px;padding-left:15px;margin-bottom:0;
  }

.nav-list-main{
  padding-left:0px;padding-right:0px;margin-bottom:0;
}

span.nav-toggle-icon{
  font-size:7px !important;top:-2px !important;color:#888 !important;
}

/*error*/

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}


/*select*/
.styled-select select {
    background-color: #fff;
    background-position: 95% 50%;
    border-radius: 5px;
    margin-right: 2%;
    margin-bottom: 20px;
    width: 360px;
    height: 30px;
   }