<header class="navbar navbar-fixed-top navbar-default" >
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "Система электронного документооборота", '#', id: "logo" %>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
     	<nav>
       	<ul class="nav  navbar-nav navbar-right">
       		<li><%= link_to "Главное меню",    home_path %></li>
       	</ul>
      </nav>
    </div><!--/.nav-collapse -->
  </div><!--/.container-fluid -->
</header>